<div id="head">DETAILS</div>

<form #form="ngForm">
    <div class="inputs">
        <!-- Doctor -->
        <label for="">Doctor</label>
        <input name="" id="" placeholder="" class="large_input" readonly [value]="visit.doctor.firstName + ' ' + visit.doctor.lastName">
    </div>

    <div class="inputs">
        <!-- Nazwisko pacjenta -->
        <label for="">Patient's surname</label>
        <input name="" id="" placeholder="" class="large_input" readonly [value]="visit.patient.lastName">
    </div>

    <div class="inputs">
        <!-- Numer telefonu -->
        <label for="">Phone number</label>
        <input name="phoneNr" id="phoneNr" placeholder="phoneNr" class="large_input" readonly [value]="visit.patient.phoneNr">
    </div>

    <div class="inputs">
        <!-- PESEL -->
        <label for="">Pesel</label>
        <input name="pesel" id="pesel" placeholder="pesel" class="large_input" readonly [value]="visit.patient.pesel">
    </div>

    <div class="inputs">
        <label for="">Date</label>
        <input type="date" name="" id="" class="large_input" readonly [value]="getDate(visit.timeStamp)">
    </div>

    <div class="inputs">
        <label for="">Time</label>
        <input type="time" name="" id="" class="large_input" readonly [value]="getTime(visit.timeStamp)">
    </div>

    <div class="info_inputs">
        <label for="">Info</label>
        <textarea name="description" [value]="visit.description" placeholder="info" class="info_input" id="info" cols="30" rows="10" style="resize: none;" #description="ngModel" ngModel disabled [value]="visit.description"></textarea>
    </div>
</form>
