<div class="main_page_photo"></div>

<div id="main_page_head">WELCOME</div>
<div *ngIf="!userRole">
  <div class="main_button">
    <button class="main_button_style" routerLink="/registration-form">{{mainButtonText}}</button>
  </div>
</div>
<div *ngIf="userRole === 'ADMIN'">
  <div class="main_buttons_position">
    <div class="main_buttons_multiple">
      <button class="main_button_style" routerLink="/admin/patients-list">Patients</button>
    </div>
    <div class="main_buttons_multiple">
        <button class="main_button_style" routerLink="/admin/doctors-list">Doctors</button>
    </div>
    <div class="main_buttons_multiple">
        <button class="main_button_style" routerLink="/admin/visits">Visits</button>
    </div>
  </div>
</div>
<div *ngIf="userRole === 'DOCTOR'">
  <div class="main_buttons_position">
    <div class="main_buttons_multiple">
        <button class="main_button_style" routerLink="/doctor/patients-list">Patients</button>
    </div>
    <div class="main_buttons_multiple">
        <button class="main_button_style" routerLink="/doctor/visits">Visits</button>
    </div>
  </div>
</div>
<div *ngIf="userRole === 'PATIENT'">
  <div class="main_button">
    <button class="main_button_style" routerLink="/patient/register-visit">{{mainButtonText}}</button>
  </div>
</div>
