.main_button_style {
    width: 28vw;
    height: 18vh;
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: #28587A;
    font-size: 40px;
    font-weight: bold;
    border: none;
    float: left;
    margin-bottom: 10px;
}

.main_page_photo {
    position:absolute;
    top: 10vh;
    left: 47vw;
    width: 110vh;
    height: 90vh;
    background-image: url("src/assets/main_page_image.svg");
    background-size: cover;
    background-position: center;
    float: left;
}

.main_buttons_multiple {
    clear: left;
}

.main_buttons_position{
    position: absolute;
    top: 35vh;
    left: 16vw;
}

.main_button{
    position: absolute;
    top: 35vh;
    left: 16vw;
}

.main_button_style:active {
    background: #28587A;
    color: #FFFFFF;
}

.main_buttons_multiple{
    float: left;

}

#main_page_head {
    position: absolute;
    top: 20vh;
    left: 15vw;

    color: #28587A;
    font-size: 5vw;
    font-weight: bold;
}
