<app-top-buttons-logged></app-top-buttons-logged>

<div class="list-head">Patients</div>
<div class="list-items">
    <div class="list-input-item"><input type="search" placeholder="Type here..." class="list_input" id="search_input">
    </div>
    <div class="list-input-item"><select class="list_input" id="select_input">
            <option value="">First Name</option>
        </select></div>
    <div class="list-input-item"><button class="list_input" id="search_button">SEARCH</button></div>
</div>

<ul>
    <li id="list-header">
        <div class="list-div list-header-element">First name</div>
        <div class="list-div list-header-element">Surname</div>
        <div class="list-div list-header-element">PESEL</div>
        <div class="list-div list-header-element">Phone number</div>
        <div class="list-div list-header-element">E-mail address</div>
        <div class="list-div list-header-element">Action</div>
    </li>
    <li class="li-element">
        <div class="li-element-div">Zbychu</div>
        <div class="li-element-div">Zbychowski</div>
        <div class="li-element-div">22113742069</div>
        <div class="li-element-div">213769420</div>
        <div class="li-element-div">zbyszekkozak@zut.edu.pl</div>
        <div class="li-element-div">
            <a>Details</a>&nbsp;&nbsp;&nbsp;
            <a>Edit</a>
        </div>
    </li>
    <li class="li-element">
        <div class="li-element-div">Zbychu</div>
        <div class="li-element-div">Zbychowski</div>
        <div class="li-element-div">22113742069</div>
        <div class="li-element-div">213769420</div>
        <div class="li-element-div">zbyszekkozak@zut.edu.pl</div>
        <div class="li-element-div">
            <a>Details</a>&nbsp;&nbsp;&nbsp;
            <a>Edit</a>
        </div>
    <li class="li-element">
        <div class="li-element-div">Zbychu</div>
        <div class="li-element-div">Zbychowski</div>
        <div class="li-element-div">22113742069</div>
        <div class="li-element-div">213769420</div>
        <div class="li-element-div">zbyszekkozak@zut.edu.pl</div>
        <div class="li-element-div">
            <a>Details</a>&nbsp;&nbsp;&nbsp;
            <a>Edit</a>
        </div>
    <li class="li-element">
        <div class="li-element-div">Zbychu</div>
        <div class="li-element-div">Zbychowski</div>
        <div class="li-element-div">22113742069</div>
        <div class="li-element-div">213769420</div>
        <div class="li-element-div">zbyszekkozak@zut.edu.pl</div>
        <div class="li-element-div">
            <a>Details</a>&nbsp;&nbsp;&nbsp;
            <a>Edit</a>
        </div>
    <li class="li-element">
        <div class="li-element-div">Zbychu</div>
        <div class="li-element-div">Zbychowski</div>
        <div class="li-element-div">22113742069</div>
        <div class="li-element-div">213769420</div>
        <div class="li-element-div">zbyszekkozak@zut.edu.pl</div>
        <div class="li-element-div">
            <a>Details</a>&nbsp;&nbsp;&nbsp;
            <a>Edit</a>
        </div>
    <li class="li-element">
        <div class="li-element-div">Zbychu</div>
        <div class="li-element-div">Zbychowski</div>
        <div class="li-element-div">22113742069</div>
        <div class="li-element-div">213769420</div>
        <div class="li-element-div">zbyszekkozak@zut.edu.pl</div>
        <div class="li-element-div">
            <a>Details</a>&nbsp;&nbsp;&nbsp;
            <a>Edit</a>
        </div>
    <li class="li-element">
        <div class="li-element-div">Zbychu</div>
        <div class="li-element-div">Zbychowski</div>
        <div class="li-element-div">22113742069</div>
        <div class="li-element-div">213769420</div>
        <div class="li-element-div">zbyszekkozak@zut.edu.pl</div>
        <div class="li-element-div">
            <a>Details</a>&nbsp;&nbsp;&nbsp;
            <a>Edit</a>
        </div>
    <li class="li-element">
        <div class="li-element-div">Zbychu</div>
        <div class="li-element-div">Zbychowski</div>
        <div class="li-element-div">22113742069</div>
        <div class="li-element-div">213769420</div>
        <div class="li-element-div">zbyszekkozak@zut.edu.pl</div>
        <div class="li-element-div">
            <a>Details</a>&nbsp;&nbsp;&nbsp;
            <a>Edit</a>
        </div>
    <li id="list-footer">
        <button class="footer-btn" id="prev-btn">&lt;</button>
        <div class="list-counter"></div>
        <button class="footer-btn" id="next-btn">&gt;</button>
    </li>
</ul>