<div class="list-head">Visits</div>
<!-- <div class="list-items">
    <div class="list-input-item"><input type="search" placeholder="Type here..." class="list_input" id="search_input">
    </div>
    <div class="list-input-item">
        <select class="list_input" id="select_input">
            <option value="">First Name</option>
        </select></div>
    <div class="list-input-item"><button class="list_input" id="search_button">SEARCH</button></div>
</div> -->

<ul>
    <li id="list-header">
        <div class="list-div list-header-element">Doctor</div>
        <div class="list-div list-header-element">Patient`s surname</div>
        <div class="list-div list-header-element">PESEL</div>
        <div class="list-div list-header-element">Phone number</div>
        <div class="list-div list-header-element">Date</div>
        <div class="list-div list-header-element">Action</div>
    </li>
    <li class="li-element" *ngFor="let visit of visits; let i = index">
        <div class="li-element-div">{{visit.doctor.firstName}} {{visit.doctor.lastName}}</div>
        <div class="li-element-div">{{visit.patient.lastName}}</div>
        <div class="li-element-div">{{visit.patient.pesel}}</div>
        <div class="li-element-div">{{visit.patient.phoneNr}}</div>
        <div class="li-element-div">{{getDate(visit.timeStamp)}}</div>
        <div class="li-element-div">
          <a (click)="goToDetails(i)">Details</a>&nbsp;&nbsp;&nbsp;
          <a (click)="goToEdit(i)">Edit</a>
        </div>
    </li>
    <li id="list-footer">
        <button class="footer-btn" id="prev-btn">&lt;</button>
          <div class="list-counter">{{currentPage + 1 + " of " + totalPages}}</div>
        <button class="footer-btn" id="next-btn">&gt;</button>
    </li>
</ul>
