<div id="head">DETAILS</div>

<form #form="ngForm">
    <div class="inputs">
        <!-- Doctor -->
        <input name="" id="" placeholder="" class="large_input" readonly>
    </div>

    <div class="inputs">
        <!-- Nazwisko pacjenta -->
        <input name="" id="" placeholder="" class="large_input" readonly>
    </div>

    <div class="inputs">
        <!-- Numer telefonu -->
        <input name="phoneNr" id="phoneNr" placeholder="phoneNr" class="large_input" readonly>
    </div>

    <div class="inputs">
        <!-- PESEL -->
        <input name="pesel" id="pesel" placeholder="pesel" class="large_input" readonly>
    </div>

    <div class="info_inputs">
        <input name="info" id="info" placeholder="info" class="info_input">
    </div>

    <button type="submit" class="inputs">SAVE</button>
</form>