<div id="head">EDIT</div>

<form #form="ngForm">
    <!-- Dane Pacjenta -->
    <div ngModelGroup="patient" #patient="ngModelGroup">
        <div id="names_input" class="inputs">
            <div>
                <!-- Imię -->
                <input name="firstName" id="firstName" #firstName="ngModel" ngModel required pattern="[a-zA-Z]+"
                    placeholder="First Name" class="small_input">
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="error-message">
                    <span *ngIf="firstName.errors?.['required']">Name is required.&nbsp;</span>
                    <span *ngIf="firstName.errors?.['pattern']">Name must consist of letters only.&nbsp;</span>
                </div>
            </div>

            <div>
                <!-- Nazwisko -->
                <input name="lastName" id="lastName" #lastName="ngModel" ngModel required pattern="[a-zA-Z]+"
                    placeholder="Surname" class="small_input">
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="error-message">
                    <span *ngIf="lastName.errors?.['required']">Surname is required.&nbsp;</span>
                    <span *ngIf="lastName.errors?.['pattern']">Surname must consist of letters only.&nbsp;</span>
                </div>
            </div>
        </div>

        <div class="inputs">
            <!-- Numer telefonu -->
            <input name="phoneNr" id="phoneNr" #phoneNr="ngModel" ngModel pattern="[0-9]{9}" required
                placeholder="Phone number" class="large_input">
            <div *ngIf="phoneNr.invalid && (phoneNr.dirty || phoneNr.touched)" class="error-message">
                <span *ngIf="phoneNr.errors?.['required']">Phone number is required</span>
                <span *ngIf="phoneNr.errors?.['pattern']">Phone number must consist of 9 digits</span>
                <span *ngIf="phoneNr.errors?.['invalid']">Invalid phone number</span>
            </div>
        </div>

        <div class="inputs">
            <!-- Przydzielony lekarz -->
            <input name="doctorName" id="doctorName" #doctorName="ngModel" ngModel required placeholder="Assigned Doctor"
                class="large_input">
            <div *ngIf="doctorName.invalid && (doctorName.dirty || doctorName.touched)" class="error-message">
                <span *ngIf="doctorName.errors?.['required']">Doctor is required.&nbsp;</span>
            </div>
        </div>
    </div>

    <!-- Adres Pacjenta -->
    <div ngModelGroup="addressData" #addressData="ngModelGroup">
        <div class="inputs">
            <!-- Kraj -->
            <input name="country" id="country" #country="ngModel" ngModel required pattern="[a-zA-Z]+"
                placeholder="Country" class="large_input">
            <div *ngIf="country.invalid && (country.dirty || country.touched)" class="error-message">
                <span *ngIf="country.errors?.['required']">Country is required.&nbsp;</span>
                <span *ngIf="country.errors?.['pattern']">Country name must consist of letters only.&nbsp;</span>
                <span *ngIf="country.errors?.['invalid']">Incorrect country name.&nbsp;</span>
            </div>
        </div>

        <div class="inputs">
            <!-- Ulica -->
            <input name="street" id="street" #street="ngModel" ngModel required placeholder="Street"
                class="large_input">
            <div *ngIf="street.invalid && (street.dirty || street.touched)" class="error-message">
                <span *ngIf="street.errors?.['required']">Street name is required.&nbsp;</span>
                <span *ngIf="street.errors?.['invalid']">Incorrect street name.&nbsp;</span>
            </div>
        </div>

        <div class="inputs addresses_inputs">
            <div>
                <!-- Miasto -->
                <input name="city" id="city" #city="ngModel" ngModel required pattern="[a-zA-Z]+" placeholder="City"
                    class="small_input">
                <div *ngIf="city.invalid && (city.dirty || city.touched)" class="error-message">
                    <span *ngIf="city.errors?.['required']">City is required.&nbsp;</span>
                    <span *ngIf="city.errors?.['pattern']">City name must consist of letters only.&nbsp;</span>
                    <span *ngIf="city.errors?.['invalid']">Incorrect city name.&nbsp;</span>
                </div>
            </div>

            <div>
                <!-- Kod pocztowy -->
                <input name="postalCode" id="postalCode" #postalCode="ngModel" ngModel required pattern="[0-9]{2}-[0-9]{3}"
                    placeholder="Postal code" class="small_input">
                <div *ngIf="postalCode.invalid && (postalCode.dirty || postalCode.touched)" class="error-message">
                    <span *ngIf="postalCode.errors?.['required']">Postal code is required.&nbsp;</span>
                    <span *ngIf="postalCode.errors?.['pattern']">Postal code must follow the pattern e.g.
                        00-000.&nbsp;</span>
                    <span *ngIf="postalCode.errors?.['invalid']">Invalid postal code.&nbsp;</span>
                </div>
            </div>
        </div>

        <div class="inputs addresses_inputs">
            <div>
                <!-- Numer domu -->
                <input name="houseNr" id="houseNr" #houseNr="ngModel" ngModel required pattern="^\d+[A-Za-z]?$"
                    placeholder="House number" class="small_input">
                <div *ngIf="houseNr.invalid && (houseNr.dirty || houseNr.touched)" class="error-message">
                    <span *ngIf="houseNr.errors?.['required']">House number is required.&nbsp;</span>
                    <span *ngIf="houseNr.errors?.['pattern']">House number must consist of maximum 3 digits,
                        additionally may contain maximum 3 letters at the end.&nbsp;</span>
                    <span *ngIf="houseNr.errors?.['invalid']">Invalid house number.&nbsp;</span>
                </div>
            </div>

            <div>
                <!-- Numer mieszkania -->
                <input name="apartmentNr" id="apartmentNr" #apartmentNr="ngModel" ngModel required
                    pattern="^\d+[A-Za-z]?$" placeholder="Apartment number" class="small_input">
                <div *ngIf="apartmentNr.invalid && (apartmentNr.dirty || apartmentNr.touched)" class="error-message">
                    <span *ngIf="apartmentNr.errors?.['required']">Apartment number is required.&nbsp;</span>
                    <span *ngIf="apartmentNr.errors?.['pattern']">Apartment number must consist of maximum 3 digits,
                        additionally may contain maximum 3 letters at the end.&nbsp;</span>
                    <span *ngIf="apartmentNr.errors?.['invalid']">Invalid apartment number.&nbsp;</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Dane logowania Pacjenta -->
    <div ngModelGroup="loginData" #loginData="ngModelGroup">
        <div class="inputs">
            <!-- E-mail -->
            <input type="email" name="email" id="email" #email="ngModel" ngModel required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="E-mail address" class="large_input">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
                <span *ngIf="email.errors?.['required']">Email is required.&nbsp;</span>
                <span *ngIf="email.errors?.['pattern']">Invalid email address.&nbsp;</span>
                <span *ngIf="email.errors?.['invalid']">Invalid email address.&nbsp;</span>
            </div>
        </div>
    </div>

    <button type="submit" [disabled]="!form.valid" class="inputs">SAVE</button>
    <div *ngIf="form.invalid && form.touched" class="error-message">Please fill out the entire form!</div>
</form>