spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/medical_visits
    username: postgres
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
#    properties:
#      hibernate:
#        jdbc:
#          lob:
#            non_contextual_creation: 'true'
    hibernate:
      # Hibernate ddl auto (create, create-drop, validate, update)
      ddl-auto: update
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  data:
    jdbc:
      repositories:
        enabled: 'false'

server:
  port: 8081