.contact_page_photo {
    position: absolute;
    top: 20vh;
    left: 42vw;
    width: 52vw;
    height: 60vh;
    background-image: url("src/assets/contact.jpg");
    background-size: cover;
    background-position: center;
    float: left;
    border-radius: 60px;
}

#contact-pane{
    position: absolute;
    width: 20vw;
    left: 15vw;
    top: 34vh;
    background: #FFFFFF;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    text-align: left;
    padding-left: 40px;
    line-height: 125%;
    font-weight: bold;
}

h1, h2{
    color: #28587A;
    font-weight: bold;
}

p:last-child{
    margin-bottom: 3vh;
}