<div id="Menu">
    <div><img src="./assets/MV_icon.png" id="MV_menuLogo"></div>
    <div><img src="./assets/home_page.png" class="menu_icons" id="home_page"></div>
    <div><img src="./assets/contact.png" class="menu_icons" id="contact"></div>
    <div><img src="./assets/doctor.png" class="menu_icons" id="doctor"></div>
    <div><img src="./assets/calendar.png" class="menu_icons" id="calendar"></div>
</div>

<div id="MV_head"><img src="./assets/MV_icon.png" id="MV_png">MedicalVisits</div>

<div class="top_buttons">
    <div class="head_buttons"><button class="button_style">MY ACCOUNT</button></div>
    <div class="head_buttons"><button class="button_style">LOG OUT</button></div>
</div>

<div class="main_page_photo"></div>

<div id="main_page_head">WELCOME</div>
<div class="main_button"><button class="main_button_style" style="font-size: 34px;">Book your appointment</button></div>