form, #main-container {
    text-align: center;
    margin: auto;
    width: 700px;
    /* height: 1020px; */
}

input {
    float: left;
    width: 250px;
    height: 30px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 5px 100px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: none;
    font-size: 20px;
}

input:hover {
    border: 2px solid #28587A;
}

input:focus {
    outline: none;
    border: 2px solid #28587A;
}

button {
    font-size: 30px;
    background-color: 28587A;
}

input.ng-invalid.ng-touched {
    border: 2px solid red;
}

.error-message {
    color: red;
    font-size: 15px;
    font-weight: bold;
}

.inputs {
    width: 100%;
    height: 70px;
    margin: 5px 5px 0px 5px;
}

.large_input {
    width: 683px;
    margin: 5px 5px 0px 5px;
}

.small_input {
    width: 320px;
    text-align: center;
    margin: 5px 5px 0px 5px;
}

.addresses_inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#head {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #28587A;
    font-weight: bold;
}

#names_input {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#birthDate {
    width: 685px;
}

#genders {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gender_input {
    display: flex;
    align-items: center;
    margin: 0 50px;
}

label {
    margin-top: 2px;
    color: #28587A;
    font-size: 20px;
    font-weight: bold;
}

input[type="radio"] {
    width: 35px;
}

.info_inputs{
    width: 100%;
    height: 250px;
    margin: 5px 5px 50px 5px;
}

.info_input {
    width: 683px;
    height: 100%;
    margin: 5px 0px 10px 5px;
    box-shadow: 20px 20px 100px rgba(0, 0, 0, 0.25);
}

.li-inputs-searchbar{
    height: 50px;
}

.li-inputs{
    width: 100%;
    margin: 5px 5px 0px 5px;
}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li {
    margin-bottom: 10px;
    color: #28587A;
    font-size: 20px;
    font-weight: bold;
}

select {
    width: 200px;
    height: 30px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-size: 16px;
    border: none;
    background-color: #ffffff;
    color: #28587A;
}

option {
    text-align: center;
}