.delete-button {
  width: 60px;
  height: 20px;
  font-size: 10px;
  float: right;
  background-color: white;
  border: 5px solid #28587A;
  font-weight: bold;
}

#success-message {
  color: green;
}

#error-message {
  color: coral;
}

li{
  margin-left: 60px;
}