<div id="head">DETAILS</div>

<form #form="ngForm">
    <!-- Dane Doctora -->
    <div id="names_input" class="inputs">
        <div>
            <!-- Imię -->
            <input name="firstName" id="firstName" placeholder="firstName" class="small_input" readonly>
        </div>

        <div>
            <!-- Nazwisko -->
            <input name="lastName" id="lastName" placeholder="lastName" class="small_input" readonly>
        </div>
    </div>

    <div class="inputs">
        <!-- Numer telefonu -->
        <input name="phoneNr" id="phoneNr" placeholder="phoneNr" class="large_input" readonly>
    </div>

    <div class="inputs">
        <!-- Przypisany lekarz -->
        <input name="" id="" placeholder="" class="large_input" readonly>
    </div>

    <div class="inputs">
        <!-- Kraj -->
        <input name="country" id="country" placeholder="country" class="large_input" readonly>
    </div>

    <div class="inputs">
        <!-- Ulica -->
        <input name="street" id="street" placeholder="street" class="large_input" readonly>
    </div>

    <div class="inputs addresses_inputs">
        <div>
            <!-- Miasto -->
            <input name="city" id="city" placeholder="city" class="small_input" readonly>
        </div>

        <div>
            <!-- Kod pocztowy -->
            <input name="postalCode" id="postalCode" placeholder="postalCode" class="small_input" readonly>
        </div>
    </div>

    <div class="inputs addresses_inputs">
        <div>
            <!-- Numer domu -->
            <input name="houseNr" id="houseNr" placeholder="houseNr" class="small_input" readonly>
        </div>

        <div>
            <!-- Numer mieszkania -->
            <input name="apartmentNr" id="apartmentNr" placeholder="apartmentNr" class="small_input" readonly>
        </div>
    </div>


    <div class="inputs">
        <!-- E-mail -->
        <input type="email" name="email" id="email" placeholder="email" class="large_input" readonly>
    </div>


    <button type="submit" class="inputs">RETURN</button>
</form>