<h1 id="head">MedicalVisits</h1>
<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div>
        <label for="firstName">Imię:</label>
        <input type="text" id="firstName" name="firstName" ngModel required>
    </div>

    <div>
        <label for="lastName">Nazwisko:</label>
        <input type="text" id="lastName" name="lastName" ngModel required>
    </div>

    <div>
        <label for="pesel">PESEL:</label>
        <input type="text" id="pesel" name="pesel" ngModel pattern="[0-9]{11}" required>
    </div>

    <div>
        <label for="dob">Data urodzenia:</label>
        <input type="date" id="dob" name="dob" ngModel required>
    </div>

    <div>
        <label for="phoneNumber">Numer telefonu:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" ngModel pattern="[0-9]{9}" required>
    </div>

    <div>
        <label for="country">Kraj:</label>
        <input type="text" id="country" name="country" ngModel required>
    </div>

    <div>
        <label for="city">Miasto:</label>
        <input type="text" id="city" name="city" ngModel required>
    </div>

    <div>
        <label for="street">Ulica:</label>
        <input type="text" id="street" name="street" ngModel required>
    </div>

    <div>
        <label for="houseNumber">Numer domu:</label>
        <input type="text" id="houseNumber" name="houseNumber" ngModel required>
    </div>

    <div>
        <label for="zipCode">Kod pocztowy:</label>
        <input type="text" id="zipCode" name="zipCode" ngModel pattern="[0-9]{2}-[0-9]{3}" required>
    </div>

    <div>
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" ngModel required>
    </div>

    <div>
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password" ngModel minlength="6" required>
    </div>

    <div>
        <label for="confirmPassword">Powtórz hasło:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" ngModel required>
    </div>

    <button type="submit" [disabled]="!form.valid">Zarejestruj się</button>
</form>