<div class="top_buttons">
    <div class="head_buttons"><button class="button_style">MY ACCOUNT</button></div>
    <div class="head_buttons"><button class="button_style">LOG OUT</button></div>
</div>

<div class="list-head">Doctors</div>
<div class="list-items">
    <div class="list-input-item"><input type="search" placeholder="Type here..." class="list_input" id="search_input"></div>
    <div class="list-input-item"><select class="list_input" id="select_input">
        <option value="">First Name</option>
    </select></div>
    <div class="list-input-item"><button class="list_input" id="search_button">SEARCH</button></div>
</div>

<ul>
    <li id="list-header">
        <div class="list-div list-header-element" id="LiHeader-firstname">First name</div>
        <div class="list-div list-header-element" id="LiHeader-surname">Surname</div>
        <div class="list-div list-header-element" id="LiHeader-specalization">Specalization</div>
        <div class="list-div list-header-element" id="LiHeader-phonenumber">Phone number</div>
        <div class="list-div list-header-element" id="LiHeader-email">E-mail address</div>
        <div class="list-div list-header-element" id="LiHeader-action">Action</div>
    </li>
    <li>
        <span>1</span>
        <span>1</span>
        <span>1</span>
    </li>
    <li>
        <span>1</span>
        <span>1</span>
        <span>1</span>
    </li>
    <li>
        <span>1</span>
        <span>1</span>
        <span>1</span>
    </li>
    <li id="list-footer">
        <button class="footer-btn" id="prev-btn">&lt;</button>
        <div class="list-counter"></div>
        <button class="footer-btn" id="next-btn">&gt;</button>
    </li>
</ul>
