.list-head{
    position: absolute;
    top: 130px;
    left: 100px;
    color: #28587A;
    font-size: 50px;
    font-weight: bold;
}

.list-items{
    position: absolute;
    top: 200px;
    left: 100px;
    display: flex;
}

.list-input-item {
    margin-right: 30px;
}

.list_input{
    height: 45px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-size: 25px;
    font-weight: bold;
    border: none;
}

select{
    width: 200px;
    height: 30px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    font-size: 16px;
    border: none;
    background-color: #ffffff;
    color: #28587A;
}

option{
    text-align: center;
}

#search_input{
    width: 800px;
    text-align: left;
    padding-left: 40px;
}

#select_input{
    width: 320px;
}

#search_button{
    width: 200px;
    background: #28587A;
    color: #FFFFFF;
}

ul {
    position: absolute;
    top: 280px;
    left: 100px;
    width: 1380px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    counter-reset: item;
}

li {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    counter-increment: item;
}

#list-header {
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.list-header-element {
    color: #28587A;
    font-size: 20px;
    font-weight: bold;
}

.list-div {
    float: left;
    width: 20%;
}

li:last-child {
    margin-top: auto;
}

#list-footer {
    border-top: 1px solid gray;
}

.footer-btn{
    margin: 0 10px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #28587A;
    color: #fff;
    border: none;
    cursor: pointer;
}

.li-element{
    justify-content: space-between;
}

.li-element-div{
    width: 20%;
    float: left;
}

a{
    color: #28587A;
    font-weight: bold;
    text-decoration: underline;
}

.arrow-div {
  position: relative;
  right: 50px;
  top: 2px;
  float: right;
}
