<div class="list-head">Doctors</div>

<ul>
    <h1>Gynecologists</h1>
    <li id="list-header">
        <div class="list-div list-header-element">First name</div>
        <div class="list-div list-header-element">Surname</div>
        <div class="list-div list-header-element">Phone number</div>
        <div class="list-div list-header-element">E-mail address</div>
    </li>

    <li class="li-element">
        <div class="li-element-div">Zbyszek</div>
        <div class="li-element-div">Zbychowski</div>
        <div class="li-element-div">213769420</div>
        <div class="li-element-div">zbyszekkozak@zut.edu.pl</div>
    </li>
    <li class="li-element">
        <div class="li-element-div">Zbyszek</div>
        <div class="li-element-div">Zbychowski</div>
        <div class="li-element-div">213769420</div>
        <div class="li-element-div">zbyszekkozak@zut.edu.pl</div>
    </li>
    <li class="li-element">
        <div class="li-element-div">Zbyszek</div>
        <div class="li-element-div">Zbychowski</div>
        <div class="li-element-div">213769420</div>
        <div class="li-element-div">zbyszekkozak@zut.edu.pl</div>
    </li>
    <li class="li-element">
        <div class="li-element-div">Zbyszek</div>
        <div class="li-element-div">Zbychowski</div>
        <div class="li-element-div">213769420</div>
        <div class="li-element-div">zbyszekkozak@zut.edu.pl</div>
    </li>
    <li class="li-element">
        <div class="li-element-div">Zbyszek</div>
        <div class="li-element-div">Zbychowski</div>
        <div class="li-element-div">213769420</div>
        <div class="li-element-div">zbyszekkozak@zut.edu.pl</div>
    </li>
    <li class="li-element">
        <div class="li-element-div">Zbyszek</div>
        <div class="li-element-div">Zbychowski</div>
        <div class="li-element-div">213769420</div>
        <div class="li-element-div">zbyszekkozak@zut.edu.pl</div>
    </li>
    <li class="li-element">
        <div class="li-element-div">Zbyszek</div>
        <div class="li-element-div">Zbychowski</div>
        <div class="li-element-div">213769420</div>
        <div class="li-element-div">zbyszekkozak@zut.edu.pl</div>
    </li>
    <li class="li-element">
        <div class="li-element-div">Zbyszek</div>
        <div class="li-element-div">Zbychowski</div>
        <div class="li-element-div">213769420</div>
        <div class="li-element-div">zbyszekkozak@zut.edu.pl</div>
    </li>
    <li class="li-element">
        <div class="li-element-div">Zbyszek</div>
        <div class="li-element-div">Zbychowski</div>
        <div class="li-element-div">213769420</div>
        <div class="li-element-div">zbyszekkozak@zut.edu.pl</div>
    </li>
    <li class="li-element">
        <div class="li-element-div">Zbyszek</div>
        <div class="li-element-div">Zbychowski</div>
        <div class="li-element-div">213769420</div>
        <div class="li-element-div">zbyszekkozak@zut.edu.pl</div>
    </li>
    <li id="list-footer">
        <button class="footer-btn" id="prev-btn">&lt;</button>
        <div class="list-counter"></div>
        <button class="footer-btn" id="next-btn">&gt;</button>
    </li>
</ul>