.menu_icons {
    margin-bottom: 20px;
}

#Menu {
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 2%;
    width: 60px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 5px 100px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    text-align: center;
    
    align-items: center;
}

#MV_menuLogo {
    width: 30px;
    margin-top: 5px;
    margin-bottom: 60px;
    margin-left: 2px;
}

#home_page,
#contact,
#doctor,
#calendar {
    width: 50px;
    margin-left: 2px;
}
