<div id="specalization-page-head">Doctors</div>

<div class="panes">
    <input class="specalization-pane" type="button" value="Gynecologists">
    <input class="specalization-pane" type="button" value="Neurologists">
    <input class="specalization-pane" type="button" value="Urologists">
    <input class="specalization-pane" type="button" value="Endocrinologists">
    <input class="specalization-pane" type="button" value="Cardiologists">
    <input class="specalization-pane" type="button" value="Dentist">
</div>