<div id="head">Your appointment</div>

<form #form="ngForm">
    <div class="inputs">
        <label for=""></label>
        <input name="" id="" placeholder="Specalization" class="large_input">
    </div>

    <div class="inputs">
        <!-- Doctor -->
        <input name="" id="" placeholder="Doctor" class="large_input">
    </div>

    <div class="inputs">
        <input type="date" name="" id="" class="large_input">
    </div>

    <div class="inputs">
        <input type="time" name="" id="" class="large_input">
    </div>

    <div class="info_inputs">
        <input name="info" id="info" placeholder="info" class="info_input">
    </div>

    <button type="submit" class="inputs">SAVE</button>
</form>